<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SisMonitoreo.Properties.Settings.EES_BBVA_2018v1ConnectionString"
            connectionString="Data Source=118.247.29.138\SQLEXPRESS;Initial Catalog=EES.BBVA.2018v1;Persist Security Info=True;User ID=sa;Password=everis@2017"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
   
    <add key ="usuarios" value ="admin,operador1,operador2,operador3"/>
    <add key ="contraseñas" value ="admin,Everis1,Everis2,Everis3"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>